// Privacy policy
div(class='information__confidentiality justify-content-center align-items-center')
	a(href="#", class="information__confidentiality_link") Политика конфиденциальности
// End privacy policy