// Offer
section(class="s-offer")
	.container
		.headline
			h2.h2 headline
		.s-offer__content
			div(class="row", role="rowgroup")
				div(class="col-lg-4")
					div(class="row", role="row")
						div(class="col-lg-12")
							div(class="s-offer__content_icon")
								.icon-support
						div(class="col-lg-12")
							h3.h3 headline
							p.paragraph Many variations of passages of Lorem available, but the majority have suffered alteration in some form, by injected humour, or randomised. words which don't look
				div(class="col-lg-4")
					div(class="row", role="row")
						div(class="col-lg-12")
							div(class="s-offer__content_icon")
								.icon-support
						div(class="col-lg-12")
							h3.h3 headline
							p.paragraph Many variations of passages of Lorem available, but the majority have suffered alteration in some form, by injected humour, or randomised. words which don't look
				div(class="col-lg-4")
					div(class="row", role="row")
						div(class="col-lg-12")
							div(class="s-offer__content_icon")
								.icon-support
						div(class="col-lg-12")
							h3.h3 headline
							p.paragraph Many variations of passages of Lorem available, but the majority have suffered alteration in some form, by injected humour, or randomised. words which don't look
// End offer