// Cookie
div(class="cookie", role="status")
	p(class="paragraph") SITE.RU использует cookie-файлы, чтобы гарантировать вам максимальное удобство. Если Вы остаетесь на сайте, вы соглашаетесь на использование нами ваших cookie- файлов на SITE.RU. Узнать больше здесь.
// End cookie