// Bottom line
div(class="bottom-line")
	.container
		.bottom-line__content
			div(class="row")
				div(class="col-lg-4 d-flex")
					//- phone
					include _phone/phone
					//- email
					include _email/email
				div(class="col-lg-4")
					include _confidentiality/confidentiality
				div(class="col-lg-4 justify-content-end")
					include _social/social
// End bottom line