// Menu
nav(class="information__menu", role="navigation")
	ul.information__menu_list
		li.information__menu_item
			a(class="information__menu_link", href="#") menu1
		li.information__menu_item
			a(class="information__menu_link", href="#") menu2
		li.information__menu_item
			a(class="information__menu_link", href="#") menu3
		li.information__menu_item
			a(class="information__menu_link", href="#") menu4
		li.information__menu_item
			a(class="information__menu_link", href="#") menu5
// End Menu