/** 
 * @section Текст
 */

/* @subsection Заголовки  */

.heading-section
    &> .h2
    &> .paragraph

.heading-page
    &> .h2
    &> .paragraph
  
h1, h2, h3, h4, h5, h6
.h1, .h2, .h3, .h4, .h5, .h6
    text-align: center
    margin: 0

.h1, h1 
    font-family: $default-font1
.webfont-loaded .h1, .webfont-loaded h1
    font-family: $font1

.h2, h2
    font-family: $default-font2
.webfont-loaded .h2, .webfont-loaded h2
    font-family: $font2

.h3, h3
    font-family: $default-font3
.webfont-loaded .h3, .webfont-loaded h3
    font-family: $font3

.h4, h4
    font-family: $default-font4
.webfont-loaded .h4, .webfont-loaded h4
    font-family: $font4

.h5, h5
    font-family: $default-font5
.webfont-loaded .h5, .webfont-loaded h5
    font-family: $font5

.h6, h6
    font-family: $default-font6
.webfont-loaded .h6, .webfont-loaded h6
    font-family: $font6

.h1_big
    font-size: 48px
.h1_small
    font-size: 16px
.h1_bold
    font-weight: 700
.h1_cursive
    font-style: italic
.h1_underline

.h2_big
.h2_small
.h2_bold
    font-weight: 700
.h2_cursive
    font-style: italic
.h2_underline

.h3_big
.h3_small
.h3_bold
    font-weight: 700
.h3_cursive
    font-style: italic
.h3_underline

.h4_big
.h4_small
.h4_bold
    font-weight: 700
.h4_cursive
    font-style: italic
.h4_underline

.h5_big
.h5_small
.h5_bold
    font-weight: 700
.h5_cursive
    font-style: italic
.h5_underline

.h6_big
.h6_small
.h6_bold
    font-weight: 700
.h6_cursive
    font-style: italic
.h6_underline

.br
    display: block
.text-bold
    font-weight: 700
.text-cursive
    font-style: italic
.text-center
	text-align: center!important
.text-left
	text-align: left!important
.text-rigth
	text-align: right!important
	
/* @subsection Параграфы */
.paragraph p 
    font-family: $default-font5
.webfont-loaded .paragraph, .webfont-loaded p
    font-family: $font5

/* @subsection Выделение текста */
::-moz-selection
    background: #b3d4fc
    text-shadow: none
::selection 
    background: #b3d4fc
    text-shadow: none