// Form
form(action="send.php", method="post", id="js-form", role="form")
	input(type="text", name="fio", placeholder="Укажите ФИО")
	input(type="text", name="email", placeholder="Укажите e-mail")
	input(type="submit", name="send", value="Отправить")
// End form