/**
 * @section Body
 */
html
.is-home
body
	font-size: 16px
	min-width: 320px
	line-height: 1.75
	overflow-x: hidden
	font-family: $default-font
	opacity: 1
.webfont-loaded body
  font-family: $font1

/**
 * @section Pages-content
 */
main 
  display: block
.site
.site-content
	margin-left: 340px
	position: relative
.entry-content
	margin: 0;
.hentry
 margin: 0;


/**
 * @section LP-heading
 */
.entry-header
	position: relative;
	border-bottom: 3px solid #2d9bea
	height: 20vh;
	display: flex;
	align-items: center;
	justify-content: center;
.entry-title
	position: relative;
	color: #343434;
	text-transform: uppercase;
	text-align: center;
	font-size: 60px
	margin: 0;

/**
 * @section LP-images
 */
.pages-images
	height: 300px;
	width: 100%;

/**
 * @section What
 */
.what
	height: 80vh;
	display: flex;
	align-items: center;
	background-color: #fff;
	&__content
		&_h4
			margin-bottom: 50px
		&_paragraph
			margin: 0 auto
			text-align: center;
			font-size: 18px;

/**
 * @section What-for
 */
.what-for
	height: 100vh;
	background-color: #ebedf3;
	display: flex;
	align-items: center;
	&__content
		&_h4
			margin-bottom: 50px
		&_paragraph
			margin: 0 auto
			text-align: center;
			font-size: 18px;


/**
 * @section Whom
 */
.whom
	height: 100vh;
	background-color: #fff;
	display: flex;
	align-items: center;
	&__content
		&_h4
			margin-bottom: 50px
		&_paragraph
			margin: 0 auto
			text-align: center;
			font-size: 18px;

/**
 * @section Why
 */
.why
	height: 100vh;
	background-color: #ebedf3;
	display: flex;
	align-items: center;
	&__content
		&_h4
			margin-bottom: 50px
		&_paragraph
			margin: 0 auto
			text-align: center;
			font-size: 18px

/**
 * @section Heading page
 */
.page-heading
	padding-bottom: 30px;
	&>.h2
		text-transform: uppercase
		text-align: center;
		letter-spacing: 2px
		font-weight: 800
		font-size: 41px;
	&>.paragraph
		margin: 0 auto
		text-align: center;
		line-height: 1.4

/**
 * @section LP-offer
 */
.lp-offer
	background-color: #ebedf3;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	&__content
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		&_h2
			line-height: 1;
		&_paragraph
			margin: 0 auto
			text-align: center;

